.pList {
    width: 100%;
    max-width: 1024px;  
    display: flex;
    justify-content: space-between;  
    gap: 10px;  
    flex-wrap: wrap; 
    padding-bottom: 10px;
    border-bottom: 2px dashed red;
}

.pListItem {
    flex: 1 1 300px; 
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative; 
    transition: transform 0.3s; 
}

.pListimg {
    width: 100%;  
    height: 200px;  
    object-fit: cover;  
    transition: filter 0.3s;  
}

.pListItem:hover .pListimg {
    filter: blur(2px);  
}

.pListTitles {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    text-align: center; 
    backdrop-filter: blur(5px); 
    opacity: 1;  
    transition: opacity 0.3s;  
}

.pListItem:hover .pListTitles {
    opacity:0; 
}

.pListItem:hover .pListimg {
    filter: none;  
    opacity: 1;  
}
.pListTitles > h2 {
    font-size: 16px;
    margin: 5px 0;  
}

.pListTitles > p {
    font-size: 14px;
    font-weight: 300;  
}

@media (max-width: 768px) {
    .pListItem {
        flex: 1 1 calc(50% - 10px); 
    }
}

@media (max-width: 480px) {
    .pListItem {
        flex: 1 1 100%; 
    }
    .pListimg {
        
        height: 300px; 
       
    }
}
