.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listwrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #098dea;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  
}

.lsItem > label {
    font-size: 14px;
}

.lsItem > input {
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.lsItem > span {
    height: 40px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px; 
    border-radius: 8px;
   
}

.lsOptions {
    padding: 9px;
}

.lsOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
}

.lsOptionInput {
    width: 50px;
}

.listSearch > button {
    padding: 10px;
    background-color: rgb(76, 215, 76);
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
}

.listResult {
    flex: 3;
}

.suggestions {
    border: 1px solid #ddd;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
    position: absolute;
    width: calc(100% - 20px); 
    z-index: 10;
    position: relative;
    top: 20px;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
   
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .listwrapper {
        flex-direction: column;  
        gap: 15px;  
    }

    .listSearch {
        margin-bottom: 15px; 
        position: static; 
        width: 100%; 
    }

    .listResult {
        width: 100%; 
    }

    .lsItem > input,
    .lsItem > span {
        width: 100%;  
    }

    .listSearch > button {
        padding: 10px;  
        border-radius: 20px;  
    }
}

@media (max-width: 480px) {
    .lsTitle {
        font-size: 18px;  
    }

    .lsItem > label {
        font-size: 12px;  
    }

    .lsOptionItem {
        font-size: 14px;  
    }

    .lsOptionInput {
        width: 40px;  
    }
}
