.footer {
    width: 100%;
    background:linear-gradient(to right, #808eaf, #82a3e5);
    padding: 40px 20px;  
    border-top: 1px solid #dee2e6;  
    color: #495057;  
    font-family: 'Arial', sans-serif;  
    margin-top: 50px;
}

.fLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    cursor: pointer;
}

.fList {
    flex: 1 1 150px;  
    margin: 10px; 
    padding: 20px;  
    background-color: #ffffff;  
    border-radius: 8px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s;  
}


.fListTitle {
    color: red;  
    font-size: 1.1em;  
}

.fListItem {
    margin: 5px 0;
}

.fListItem:hover {
    color: rgb(10, 66, 196);
}

.fText {
    width: 100%;
    text-align: center;  
    padding: 20px 0; 
    background-color: #000000; 
    font-size: 0.9em; 
    color: #f7f4f4;
}
